/* Legacy CSS file - Please do not copy */
#VerifyImageHolder {
  float: left;
  margin-right: 4px;
  margin-top: 8px; }

#RightColumn {
  width: 300px;
  float: right; }

#VerificationResult {
  text-align: center;
  width: 50%;
  margin: 0px auto; }

#ChildPrivacyLevel {
  margin-bottom: 18px; }

#RobloxForParents,
#RobloxGiftCards,
#GoPremium {
  text-align: left;
  padding: 15px 0px 10px 10px;
  border-left: 1px solid #CCC; }

#GoPremium {
  border-bottom: 1px solid #CCC; }
