#AddToGearInstructionsPanel .PurchaseModalMessageText {
    width: 100%;
    padding-top: 0px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    min-height: 300px;
}
#AddToGearInstructionsPanel .PurchaseModalMessageText span {
    display: block;
}
#AddToGearInstructionsPanel .PurchaseModalMessage {
    height: inherit;
}
#catalog h1{
    margin: 0px;
}
.right-content .btn-medium.btn-primary {
    position: absolute;
    right: 0px;
    top: -10px;
}

.left-nav-menu 
{
    float: left;
    width: 150px;
    z-index:7;
    position:relative;
}
.left-nav-menu .filter-title
{
    margin:5px 0;
	font-weight: 600;
	font-size: 16px;
}
.left-nav-menu h2 {
    margin: 0px 0px 5px 0px;
}
.left-nav-menu li
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left-nav-menu ul {
    padding: 0;margin: 0;
    padding-left: 5px;
    padding-top: 0px;
    margin-top: 0px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 10px;
    padding-bottom: 10px;
    line-height: 17px;
}
.left-nav-menu ul.separatorForLegend {
    margin-bottom:0px;
    padding-bottom: 20px;    
}
.left-nav-menu ul li input.genreFilter {
    border: 0px;
}
.right-content
{
    float: left;
    width: 792px;
    margin-left: -1px;
    padding-left: 20px;
    z-index:1;
    position: relative;
}    
.catalog-item 
{
    float:left;
    width:110px;
    height:170px;
    border: 1px solid #CCC;
    overflow: hidden;
    padding: 5px;
    margin: 5px;
}
.catalog-item .name
{
    white-space:nowrap;
}
.CatalogItemInner .robux-price
{
    font-weight:bold;
    color:green;
}
div#catalog {
    font-size: 12px;
}
div#catalog .selected {
	font-weight: 600;
	color: #343434;
    text-decoration: none;
}

div#catalog .bolded {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
div#catalog div#dropdown {
    font-size: 14px;
}
div#catalog div#dropdown ul li {
	position: relative;
    height: 31px;
    float: left;
    width: 134px;
}
div#catalog div#dropdown ul.slideOut li {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}
div#catalog div#dropdown ul li.subcategories:hover 
{
    background: #d8d8d8 url(/images/UI/catalog/img-right_arrow.png) no-repeat 118px 11px;
}
div#catalog div#dropdown ul li:hover {
    background: #d8d8d8;
}
div#catalog div#dropdown ul li.subcategories {
    background: url(/images/UI/catalog/img-right_arrow.png);
    background-position: 118px 11px;
    background-repeat: no-repeat;
}	
div#catalog div#dropdown li ul {
	position: absolute;
	left: 134px;
	top: 0;
	display: none;
}
div#catalog div#dropdown ul li span {
    font-weight: bold;
}
div#catalog div#dropdown ul li a, div#catalog div#dropdown ul li span {
    display: block;
	text-decoration: none;
	color: black;
    padding: 7px 6px;
}	
div#catalog div#dropdown ul li:hover {
	background: #d8d8d8;
}
div#catalog div#dropdown ul li ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #777;
	background: #efefef;
}
div#catalog div#dropdown ul#dropdownUl {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 134px;
	border: 1px solid #777;
	background: #efefef;
}
div#catalog div#dropdown ul#dropdownUl ul.slideOut {
    height: 282px;
    z-index: 7;
    width: 134px;
}
div#catalog div#dropdown ul#dropdownUl ul.slideOut a {
    padding-right: 5px;
}
div#catalog .browseDropdownButton {
    background: url(/images/UI/catalog/btn-browse_categories.png);
    background-position: top left;
    width: 136px;
    height: 34px;
    cursor: pointer;
    display: block;
}
div#catalog .browseDropdownButton.hover  {
    background-position: bottom left;
}
div#catalog .breadCrumbFilter {
	font-size: 14px;
}
a#CatalogLink:hover {
    text-decoration: none;
}
a#CatalogLink h1 {
    margin: 0px;
}
div#catalog li#priceInputs input {
    padding: 0px;
}
div#catalog .CatalogSearchBar {
    padding-left:20px;float:right;
    padding-top: 5px;
    padding-right: 6px;
}
div#catalog #SortOptions {
    float:right;
    padding-left:10px;
	font-size: 14px;
	font-weight: 600;
}
div#catalog #submitSearchButton {
    float: left;
}
div#catalog #submitCreatorButton, div#catalog #submitPxButton {
    background: url(/images/UI/catalog/bg-27px_silver_btn.png) repeat-x;
    width: 23px;
    height: 18px;
    position: relative;
    top: 1px;
    margin-left: 3px;
    padding: 2px 2px 0px 2px;
    *top:1px;
}
div#catalog #submitCreatorButton:hover, div#catalog #submitPxButton:hover {
    background-position: bottom left;
}
div#catalog span.Robux, div#catalog span.Tickets {
    margin-bottom: 2px;
}
.CatalogItemInner span.NotAPrice {
    color: #505050;
    font-size: 12px;
    font-weight: bold;
}
div#catalog .CatalogItemInner div.roblox-item-image {
    text-align: center;
}
div#catalog .CatalogItemInner div.image-small {
    height: 110px;
}
div#catalog .CatalogItemInner div.image-large,.IPadItemView div.image-large
{
    position: relative;
    height: 150px;
    width: 152px;
}
div#catalog .CatalogItemInner span.Remaining {
    font-size: 12px;
    color: red;
    font-weight: bold;
}
div#catalog .catalog-item span.title {
    color: #ccc;
}
/* Hover effects with items */
div.roblox-item-image {
    width: 120px;
}
.CatalogItemInner .roblox-item-image {
    width: 112px;
}
.CatalogItemInner:hover div.roblox-item-image, .IPadItemView .CatalogItemInner:hover div.image-large {
    position: relative;
    left: 9px;
    top: -1px;
}
.CatalogItemOuter {
    float:left;
    padding:24px 11px
}

.SmallCatalogItemView {
    background:#FFF;
    height:140px;
    position:relative;
    width: 110px;
}
.SmallCatalogItemView .CatalogItemInner {
    height:110px;
    position:relative;
    width:120px
}
.SmallCatalogItemView:hover .CatalogItemInner.BigInner {
    top: -10px;
}
.SmallCatalogItemView:hover .CatalogItemInner {
    border:1px solid #ccc;
    height:auto;
    left:-10px;
    top:-20px;
    width:130px;
    z-index: 6;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.SmallCatalogItemView:hover .InnerInnerCatalog {
    margin-top: 10px;
}
.SmallCatalogItemView:hover #textDisplay {
    position: relative;
    top: -1px;
    left: 9px;
}
.IPadItemView .SmallCatalogItemView:hover #textDisplay {
    top: 0px;
    left: 0px;
}
.CatalogItemInner .CatalogItemName, .IPadItemView .CatalogItemName {
    font-weight: bold;
    width:110px;
    max-height:36px;
    overflow:hidden;
}
.SmallCatalogItemView .CatalogInventoryItemName {
    display:none;
    height:25px;
    padding: 0 2px;
    overflow: hidden;
    margin:auto
}
.CatalogItemInner {
    width:60px;
    z-index:1
}
.CatalogItemInner,.CatalogItemInner:hover {
    background:#FFF;
    border:0;
    outline:0;
    overflow:visible;
    position:absolute;
    margin:0;
    padding:0;
}

.CatalogItemInner:hover {
    position:absolute
}

.CatalogItemInner:hover .CatalogInventoryItemName {
    display:block;
    text-align:center;
    width:96%;
    margin:0
}

.CatalogItemInfoLabel, .CatalogItemInner:hover .CatalogItemInfoLabel {
    color:#666;
    font-size: 11px;
    margin-right:3px;
    text-align:left;
    padding:0
}
.CatalogListLable {
    color:#999;
    font-size: 12px;
    margin-right:3px;
    text-align:left;
    padding:0
}
.CatalogItemInfoLabel,.CatalogItemInner:hover .CatalogItemInfoLabel {
    display:none;
    margin-left:6px;
}

.HoverInfo,.CatalogItemInner:hover .HoverInfo {
    color:black;
    display:none;
    font-size: 11px;
    text-align:left;
    padding:0
}

.CatalogItemInner:hover .ContentRating 
{
    margin-top: 3px;
    margin-left: 7px;
}

.ItemInfoData,.CatalogItemInner:hover .ItemInfoData {
    color:#006c00;
    display:none;
    font-weight: bold;
    font-size: 9px;
    margin-left:2px;
    padding:0
}

.CatalogItemInner .CatalogHoverContent {
    display:block;
    line-height: 15px;
    padding-left: 3px;
}

.BigOuter .CatalogItemInner .CatalogHoverContent {
    padding-left: 6px; 
}

.CatalogItemInner .ItemImg {
    border:0;
    height:160px;
    outline:0;
    text-align:center;
    width:160px;
    margin-left: -1px;
    padding: 0;
}

.CatalogItemInner:hover .HoverInfo, .CatalogItemInner:hover .CatalogItemInfoLabel,.CatalogItemInner:hover .ItemInfoData,.CatalogItemInner:hover .InventoryItemSerial,.CatalogItemInner:hover .SerialNumberTotal,.CatalogItemInner:hover .RBXImg {
    display:inline
}
.CatalogItemInner .InventoryItemLink,#TradeRequest .roblox-avatar-image div,#TradeRequest .OfferHeader {
    text-align:center
}
.CatalogInventoryItemName {
    color:#000;
    font-weight: bold;
    font-size: 10px;
    text-align:center;
    width:69px;
}

.SmallCatalogItemView .CatalogInventoryItemName {
    display:none;
    height:25px;
    padding: 0 2px;
    overflow: hidden;
    margin:auto
}

.CatalogItemInner .RBXImg,div.FooterButtonPlaceHolder,.HeaderButtonPlaceHolder {
    display:none
}
.RBXImg {
    margin:0 2px
}

div#catalog #legend 
{
    padding: 18px 20px 5px 0px;
}
div#catalog #legendcontent {
    width: 137px;
    margin-top: 17px;
    margin-left: 5px;
}
div#catalog #legend h2 {
    top: -5px;
    position: relative;
    margin: 0px;
}
div#catalog #legend .header {    
	background: url(/images/UI/catalog/sprite-arrow.png);
    background-repeat: no-repeat;
    padding-left: 12px;
    height: 3px;    
    margin-top: 5px;
    padding-bottom: 5px;
    display: block;
    width: 20px;
}
div#catalog #legend .legendText {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
}
div#catalog #legend .legendDescription {
    margin-top: 15px;
}
div#catalog #legend h2:hover, div#catalog #legend .header:hover {
    cursor: pointer;
}
div#catalog #legend .header.expanded {
	background: url(/images/UI/catalog/sprite-arrow.png);
    background-position: bottom left;
	background-repeat: no-repeat;
}
div#catalog #gearSecondColumn {
    left: 150px;
    position: absolute;
    width: 150px;
    top: -1px;
    height: 251px;
    border: 1px solid #777;
    background: #EFEFEF;
    border-left: 0px;
    padding-top: 31px;
}
div#catalog #dropdownCover {
    position: absolute;
    width: 300px;
    height: 500px;
}
div#catalog .splashdropdown {
    display: block;
}
div#catalog .browsedropdown {
    display: none;
    position: absolute;
    z-index: 3;
}
div#catalog #dropdown li.slideHeader:hover {
    background: #efefef;
}
div#catalog #dropdown li.DropdownDivider {
   height:1px;
   float:left;
   margin-bottom:1px;
   margin-left:5px;
   width:92% 
}
#catalog .BigView {
    height: 190px;
    width: 160px;
}
#catalog .BigInner {
    height: auto;
    width: 171px;
}
#catalog .IPadItemView .BigInner {
    height: 200px;
}
.BigInner .CatalogItemName, .IPadItemView .CatalogItemName {
    width: 160px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.BigOuter {
    padding: 15px 19px 31px 19px;
}
.BigOuter.IPadItemView {
    padding-bottom: 10px;
}
#catalog ul li a#AllGenresLink {
    padding-left: 5px;
    line-height: 17px;
}
.left-nav-menu ul#genresUl {
    line-height: 15px;
    font-size: 14px;
}
.left-nav-menu ul#genresUl li label {
    top: -2px;
    position: relative;
}
.left-nav-menu ul#genresUl li label:hover, .left-nav-menu ul#genresUl li input:hover, .left-nav-menu input#includeNotForSaleCheckbox:hover, .left-nav-menu li.NotForSale label:hover {
    cursor: pointer;
}
#catalog input.Watermark {
    color: #888;
    font-style: italic;
}
#catalog .PagingContainerDivTop {
    clear: both;
    padding-top: 40px;
    text-align: center;
}
#catalog .PagingContainerDivTop .Paging_Input {
    height: 17px;
    padding-top: 2px;
    top: 3px;    
    border: 1px solid #a7a7a7;
}
#catalog li.NotForSale {
    font-size: 11px;
}
#catalog .left-nav-menu ul li.NotForSale input#includeNotForSaleCheckbox {
    position: relative;top: 3px;margin-right: 3px;margin-left: 0px;
    border: 0px;
}
div#catalog .image-large div img[alt='Limited'], div#catalog .image-large div img[alt='Limited Unique'] {
    z-index: 1;
    margin-left: -18px;
}
div#catalog .image-large div img[alt='Builders Club'] {
    z-index: 2;
    margin-left: -18px;
}
div#catalog .image-small div img[alt='Limited'], div#catalog .image-small div img[alt='Limited Unique'] {
    z-index: 1;
    margin-left: -13px;
}
div#catalog .image-small div img[alt='Builders Club'] {
    z-index: 2;
    margin-left: -13px;
}
div#catalog .image-large div img[alt='New'], div#catalog .image-large div img[alt='Deadline'], div#catalog .image-large div img[alt='Sale'], div#catalog .image-large div img[alt='iOS Only'] {
    position: absolute;
    right: 0px;
    top: 0px;  
}
div#catalog .image-small div img[alt='New'], div#catalog .image-small div img[alt='Deadline'], div#catalog .image-small div img[alt='Sale'], div#catalog .image-small div img[alt='iOS Only'] {
    position: absolute;
    right: 0px;
    top: 0px;  
}

div#catalog .image-large div img:first-child {
    width: 150px;
    height: 150px;
}
#catalog #SortOptions select {
    border: 1px solid #a7a7a7;
}
#catalog .left-nav-menu input#creatorTextbox {
    width: 90px;
    padding: 0 0 0 3px;
    height: 18px;
}
#catalog .left-nav-menu input.pxInput {
    width: 30px;
    padding: 0 0 0 3px;
    height: 18px;
}
#catalog div.CatalogHoverContent div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div#catalog .CatalogSearchBar input#keywordTextbox {
    width:325px;
    float:left;
    padding: 2px 5px;
    margin-right: 4px;
    height: 21px;    
}
span.NoPrivateSellersText {
    font-style:italic;
    color: #666;
    font-size: 11px;
    padding-top: 0px;
}
div#catalog div#PrivateSales {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 14px;
    width: 100px;
    white-space: nowrap;
}
#categoriesForKeyword 
{
    border:1px solid white;
    font-size:12px;
    height:21px;
    width:150px;
    -webkit-appearance: none; 
    -webkit-border-radius: 0em;
    background-color:#fff; 
    background-image:url(/images/UI/Catalog/dropdown.png); 
    background-position: right top; 
    background-repeat:no-repeat;
}
#categoriesForKeyword:hover, #categoriesForKeyword:focus
{
    background-position: right bottom;
}
.IPadItemView .image-large {
    position: relative;
}
.IPadItemView .image-large a {
    display: block;
    height: 155px;
    width: 155px;
    position: absolute;
}
.IPadItemView .name {
    position: absolute;
    top:3px;
    width: 150px;
    text-align: center;
    height: 1em;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}
.IPadOnlyOverlay {
    position: absolute;
    top: 0px;
    right: 8px;
    background: url(/images/Icons/ipadonly_ribbon.png);
    width: 58px;
    height: 58px;
}
.IPadItemView #textDisplay {
    text-align: center;
    margin-top: 5px;
    position: relative;
    padding-top: 15px;
}
.IPadPrice {
    height: 24px;
    width: 60px;
    display: inline-block;
    margin-top: 6px;
    left: 1px;
    position: relative;
}
.IPadPrice.Owned {
    width: inherit;
}
.IPadPrice.p0 {
    background: url(/images/IPadApp/free.png) no-repeat top left;
}
.IPadPrice.p99 {
    background: url(/images/IPadApp/099.png) no-repeat top left;
}
.IPadPrice.p199 {
    background: url(/images/IPadApp/199.png) no-repeat top left;
}
.IPadPrice.p299 {
    background: url(/images/IPadApp/299.png) no-repeat top left;
}
.IPadPrice.p399 {
    background: url(/images/IPadApp/399.png) no-repeat top left;
}
.IPadPrice.p499 {
    background: url(/images/IPadApp/499.png) no-repeat top left;
}
.IPadPrice.p599 {
    background: url(/images/IPadApp/599.png) no-repeat top left;
}
.IPadPrice.p699 {
    background: url(/images/IPadApp/699.png) no-repeat top left;
}
.IPadPrice.p799 {
    background: url(/images/IPadApp/799.png) no-repeat top left;
}
.IPadPrice.p899 {
    background: url(/images/IPadApp/899.png) no-repeat top left;
}
.IPadPrice.p999 {
    background: url(/images/IPadApp/999.png) no-repeat top left;
}
img.original-image {
    border: 1px solid #eee;
}
img.checker-background-small {
    border: 1px solid #eee;
    background-image: -moz-linear-gradient(45deg, #E6E6E8 25%, transparent 25%), -moz-linear-gradient(-45deg, #E6E6E8 25%, transparent 25%), -moz-linear-gradient(45deg, transparent 75%, #E6E6E8 75%), -moz-linear-gradient(-45deg, transparent 75%, #E6E6E8 75%);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #E6E6E8), color-stop(.25, transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #E6E6E8), color-stop(.25, transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #E6E6E8)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #E6E6E8));
    background-image: -ms-linear-gradient(45deg, #E6E6E8 25%, transparent 25%), -ms-linear-gradient(-45deg, #E6E6E8 25%, transparent 25%), -ms-linear-gradient(45deg, transparent 75%, #E6E6E8 75%), -ms-linear-gradient(-45deg, transparent 75%, #E6E6E8 75%);
    -moz-background-size: 100px 100px;
    background-size: 20px 20px;
    background-size: 20px 21px;
    -webkit-background-size: 20px 21px;
    background-position: 0 0, 10px 0, 10px -10px, 0px 10px;
}
.SmallCatalogItemView div.roblox-item-image {
    padding-bottom: 5px;
}
.SmallCatalogItemView:hover .CatalogItemInner.BigInner {
    padding-bottom: 12px;
    padding-top: 10px;
}
#catalog .BigInner 
{
    width: 176px;
    padding-top: 12px;
}
div.image-large {
    padding-left: 3px;
}
div#textDisplay {
    padding-left: 3px;
}
.bigViewOverride {
	height: auto !important;
}
.overrideName {
	position: relative !important;
	height: auto !important;
}
.overrideTextDisplay {
	padding-top: 0 !important;
}

/* Please refer to http://stackoverflow.com/a/8727612. It allows us to expand the parent menu without submenus being
hidden by the parent's overflow */
.clearfix:before,
.clearfix:after {
  content: ".";    
  display: block;    
  height: 0;    
  overflow: hidden; 
}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;} /* IE < 8 */

.selectedAssetTypeFilter
{
    background: #cdcdcd;
}