<div class="mySubmenuFixed Redesign">
    <div id="subMenu" class="subMenu">
        <ul>
            <li><a data-se="subnav-profile" href="/User.aspx?submenu=true">Profile</a></li>
            <li><a data-se="subnav-character" href="/My/Character.aspx">Character</a></li>
            <li><a data-se="subnav-friends" href="/My/EditFriends.aspx">Friends</a></li>
            <li><a data-se="subnav-groups" href="/My/Groups.aspx">Groups</a></li>
            <li><a data-se="subnav-inventory" href="/My/Stuff.aspx">Inventory</a></li>
            <li><a data-se="subnav-sets" href="/My/Sets.aspx">Sets</a></li>
            <li><a data-se="subnav-trade" href="/My/Money.aspx?tab=TradeItems">Trade</a></li>
            <li><a data-se="subnav-money" href="/My/Money.aspx?tab=MyTransactions">Money</a></li>
            <li><a data-se="subnav-advertising" href="/develop?Page=ads">Advertising</a></li>
            <li><a data-se="subnav-account" href="/My/Account.aspx">Account</a></li>
        </ul>
    </div>
</div>
<div class="forceSpaceUnderSubmenu">&nbsp;</div> 