.app-thumbnail {
	float: left;
}
.thumbnail-container{
	margin-bottom:12px;
}
.app-details {
	float: left;
	margin-left: 50px; 
}
.configure-options {
	position:relative; 
	top:-5px; 
	padding:2px 5px 0;
	font: bold 12px Arial, Helvetica, Sans-Serif;
}
.wtf-is-happening {
	border:1px solid #888;
	border-bottom:none; 
	background-color:#eee; 
	position:relative; 
	top:1px;
	padding:2px 5px 0;
	font: bold 12px Arial, Helvetica, Sans-Serif; 
}
.owner-actions {
	z-index: 9001;
	 display: none; 
	 position: absolute; 
	 top: -5px; 
	 right: 0px;
}
.another-wtf {
	border:1px solid #888;
	text-align:left;
	background-color:#eee;
	font-weight:bold;
	padding:5px;
	width:120px;
}