div.favorite-button-container
{
    float: left;
    margin-top: 3px;
}
.favorite-button
{
    height: 17px;
    width: 18px;
    background: url("/images/Icons/favorite.png") no-repeat;
}
.favorite-button.favorited
{
    background-position: 0 -17px;
}
.favorite-button:hover
{
    background-position: 0 -34px;
    cursor: pointer;
}