<script src="~/js/m/videopreroll.js"></script>
<div id="videoPrerollPanel" style="display:none">
    <div id="videoPrerollTitleDiv">
        Gameplay sponsored by:
    </div>
    <div id="videoPrerollMainDiv"></div>
    <div id="videoPrerollCompanionAd"></div>
    <div id="videoPrerollLoadingDiv">
        Loading <span id="videoPrerollLoadingPercent">0%</span> - <span id="videoPrerollMadStatus" class="MadStatusField">Starting game...</span><span id="videoPrerollMadStatusBackBuffer" class="MadStatusBackBuffer"></span>
        <div id="videoPrerollLoadingBar">
            <div id="videoPrerollLoadingBarCompleted">
            </div>
        </div>
    </div>
    <div id="videoPrerollJoinBC">
        <span>Get more with Builders Club!</span>
        <a href="/Upgrades/BuildersClubMemberships.aspx?ref=vpr" target="_blank" id="videoPrerollJoinBCButton"></a>
    </div>
</div>
<script type="text/javascript">
    Roblox.VideoPreRoll.showVideoPreRoll = false;
    Roblox.VideoPreRoll.loadingBarMaxTime = 33000;
    Roblox.VideoPreRoll.videoOptions.key = "robloxcorporation";
    Roblox.VideoPreRoll.videoOptions.categories = "NonBC,IsLoggedIn,AgeUnknown,GenderUnknown";
    Roblox.VideoPreRoll.videoOptions.id = "games";
    Roblox.VideoPreRoll.videoLoadingTimeout = 11000;
    Roblox.VideoPreRoll.videoPlayingTimeout = 41000;
    Roblox.VideoPreRoll.videoLogNote = "Guest";
    Roblox.VideoPreRoll.logsEnabled = true;
    Roblox.VideoPreRoll.excludedPlaceIds = "32373412";

    Roblox.VideoPreRoll.specificAdOnPlacePageEnabled = true;
    Roblox.VideoPreRoll.specificAdOnPlacePageId = 57507247;
    Roblox.VideoPreRoll.specificAdOnPlacePageCategory = "stooges";


    Roblox.VideoPreRoll.specificAdOnPlacePage2Enabled = true;
    Roblox.VideoPreRoll.specificAdOnPlacePage2Id = 122911678;
    Roblox.VideoPreRoll.specificAdOnPlacePage2Category = "lego";

    $(Roblox.VideoPreRoll.checkEligibility);
</script>
