@using Roblox.TranslationResources.CommonUI

@inject IStringLocalizer<Controls> Resources
@inject IScriptManager ScriptManager

@{
    ScriptManager.PageScripts.Add("GenericConfirmation.js");
}

<div class="ConfirmationModal modalPopup unifiedModal smallModal" data-modal-handle="confirmation" style="display:none;">
    <a class="genericmodal-close ImageButton closeBtnCircle_20h"></a>
    <div class="Title"></div>
    <div class="GenericModalBody">
        <div class="TopBody">
            <div class="ImageContainer roblox-item-image" data-image-size="small" data-no-overlays data-no-click>
                <img class="GenericModalImage" alt="generic image" />
            </div>
            <div class="Message"></div>
        </div>
        <div class="ConfirmationModalButtonContainer GenericModalButtonContainer">
            <a href id="roblox-confirm-btn"><span></span></a>
            <a href id="roblox-decline-btn"><span></span></a>
        </div>
        <div class="ConfirmationModalFooter">
        
        </div>  
    </div>  
    <script type="text/javascript">
        Roblox = Roblox || {};
        Roblox.Resources = Roblox.Resources || {};

        //<sl:translate>
        Roblox.Resources.GenericConfirmation = {
            yes: "@Resources["Action.Yes"]",
            No: "@Resources["Action.No"]",
            Confirm: "@Resources["Action.Confirm"]",
            Cancel: "@Resources["Action.Cancel"]"
        };
        //</sl:translate>
    </script-->
</div>