<div class="Footer Experimental">
    <div class="FooterContent">
        <p class="FooterParagraph">
            <a href="http://corp.roblox.com/" ref="landingsignup-company">Company</a> &nbsp;|&nbsp; <a href="http://corp.roblox.com/careers" ref="landingsignup-jobs">Careers</a> &nbsp;|&nbsp; <a href="http://blog.roblox.com" ref="landingsignup-blog">Blog</a> &nbsp;|&nbsp; <a href="/Info/Privacy.aspx" ref="landingsignup-privacy">Privacy Policy</a> &nbsp;|&nbsp; <a href="/Help/Builderman.aspx" ref="landingsignup-help">Help</a>
        </p>
        <div class="FooterLegaleseContainer">
            <p class="Legalese">
                ROBLOX, "Online Building Toy", characters, logos, names, and all related indicia are trademarks of <a href="http://corp.roblox.com/" ref="footer-smallabout" class="roblox-interstitial">ROBLOX Corporation</a>, ©@DateTime.Today.Year. Patents pending.
                ROBLOX is not sponsored, authorized or endorsed by any producer of plastic building bricks, including The LEGO Group, MEGA Brands, and K'Nex, and no resemblance to the products of these companies is intended. Use of this site signifies your acceptance of the <a href="/info/terms-of-service" ref="footer-terms">Terms and Conditions</a>.
            </p>
        </div>
    </div>
</div>