.ResultSuccessBox, .ResultErrorBox {
  height: 50px;
  display: none; }

.ResultContainer {
  width: 325px;
  margin-left: 15px;
  margin-top: 35px; }

#busy {
  height: 30px;
  width: 30px;
  visibility: hidden; }

.header {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 4px; }

#Instructions {
  width: 438px;
  float: left;
  border-right: 1px solid #a9a9a9;
  padding-bottom: 5px;
  padding-right: 10px; }
  #Instructions .listitem {
    margin-bottom: 15px; }

.footnote {
  margin-top: 35px; }

#RedeemContainer {
  clear: both; }

#CodeInput {
  margin-left: 66px;
  margin-top: 6%; }
